.chartscreen{
    width:78.5vw;
    height:363px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
}
.chart{
  padding:50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: baseline;
  margin-left: 320px;
}
.chart_rankingbox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.charttitle{
  color:#003069;
  font-size: 1.5em;
  font-weight: 600;
  margin-top:12px;
  margin-bottom: 12px;
}
.charttext{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin:30px;
}
.chart_ranking{
  margin-right: 5px;
}
.chart_musictitle{
  font-size:3.2em;
}
.chart_musicartist{
  font-size:1.5em;
}
.chart_btn{
  width: 220px;
  margin-top:50px;
  display: flex;
  justify-content: space-between;
}
.chart_link{
  margin-top: 40px;
  color:#656565;
}
@font-face {
    font-family: 'Pretendard';
    src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css") format('woff');
    font-weight: normal;
    font-style: normal;
}

.back{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-direction: row;
    width:100vw;
    height:100vh;
    background-color: #F2F2FF;
    font-family: 'Pretendard';
  }
.musiclist{
  display: flex;
  flex-direction: row;
}
.cardcomponent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
  margin-bottom: 20px;
}
.artist{
  font-size: 0.8em;
  margin-top: 5px;
}
.musicTitle{
  font-size: 1.5em;
  font-weight: 500;
}
  .music_bar{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    width: 100vw;
    height:100px;
    background-color: #2C2C2C;
    font-size: 1em;
    color:white;
  }
  .logo{
    margin-top:52px;
    margin-bottom: 38px;
  }

.music_info{
    display: flex;
    align-items: center;
}

.music_img{
    margin-left: 65px;
    margin-right: 30px;
    width: 65px;
    height: 65px;
}