<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kong_sprout.Plura.mapper.MainPageMapper">

    <select id="tb_song_dtl_select01" parameterType="map" resultType="java.util.HashMap">
        SELECT
            SONG_ID,
            SONG_TILE,
            SONG_FILE_PATH,
            SONG_WLYR,
            SONG_COMPS,
            SONG_SGER,
            SONG_LIKE,
            SONG_VIEW_CNT,
            SONG_GNRE,
            SONG_IMG_PATH,
            SONG_SBTLE,
            SONG_LTH,
            SONG_YEAR,
            SONG_BIT_TRON_RATE
        FROM
            plura.tb_song_dtl;
    </select>

    <insert id="tb_song_dtl_insert01" parameterType="map">
        INSERT INTO tb_song_dtl
        (
         SONG_ID,
         SONG_TILE,
         SONG_FILE_PATH,
         SONG_WLYR,
         SONG_COMPS,
         SONG_SGER,
         SONG_LIKE,
         SONG_VIEW_CNT,
         SONG_GNRE,
         SONG_IMG_PATH,
         SONG_SBTLE,
         SONG_LTH,
         SONG_YEAR,
         SONG_BIT_TRON_RATE
         )
        VALUES
        (
            #{SONG_ID},
            #{SONG_TILE},
            #{SONG_FILE_PATH},
            #{SONG_WLYR},
            #{SONG_COMPS},
            #{SONG_SGER},
            #{SONG_LIKE},
            #{SONG_VIEW_CNT},
            #{SONG_GNRE},
            #{SONG_IMG_PATH},
            #{SONG_SBTLE},
            #{SONG_LTH},
            #{SONG_YEAR},
            #{SONG_BIT_TRON_RATE}
        );
    </insert>


</mapper>
