<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kong_sprout.Plura.mapper.MemInfoMapper">

    <!--데이터 저장 -->
    <insert id="mem_info_insert01" parameterType="map">
        INSERT INTO plura.tb_mem_info
            (MEM_ID, MEM_PW, MEM_NIKNE, MEM_AGE, MEM_CALL_NUM)
        VALUES(
               #{MEM_ID}
               , #{MEM_PW}
               , #{MEM_NIKNE}
               , 0
               , #{MEM_CALL_NUM}
               );




    </insert>



</mapper>
