
.menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 320px;
    height:100vh;
    background-color: white;
    position:fixed;
  }

.logo{
    margin-top:52px;
    margin-bottom: 38px;
    margin-right:10px;
  }

.search{
    cursor: pointer;
    margin:0;
}
.searchplace{
  display: flex;
  flex-direction: row;
  width:220px;
  height: 35px;
  border-radius: 15px;
  padding-left: 15px;
  border-style: none;
  background-color:#E8E8E8;
  font-size: 1em;
  outline-color: #e8e8e800;
}
.searchbox{
  width:220px;
  height:33px;
  border-radius: 15px;
  padding-left: 15px;
  border-style: none;
  background-color:#E8E8E8;
  font-size: 0.9em;
  outline: none;
  
}
.side_profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 220px;
  margin-top:40px;
  margin-bottom:20px;
}
.guide{
  margin-left:25px;
}
.login_btns{
  width:230px;
  display: flex;
  justify-content: space-between;
}
.side_menu{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height:300px;
  width:220px;
  margin-top: 20px;
}