.menu{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 320px;
    height:100vh;
    background-color: white;
  }
  
.back{
  display:flex;
  flex-direction: row;
  background-color: azure;
}

.logo{
    margin-top:52px;
    margin-bottom: 38px;
  }

.search{
    cursor: pointer;
    margin-left:50px;
}
